body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f2e7; /* Warna dari tema yang disediakan */
    color: #333;
}

.invitation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}

.open-button {
    display: block;
    margin-top: 20px;
}

.invitation-content.hidden {
    display: none;
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: 20px auto;
}

.slideshow-container img {
    width: 100%;
    border-radius: 10px;
    display: none;
    transition: opacity 0.6s ease-in-out;
}

.slideshow-container img:first-child {
    display: block;
}

header h1 {
    font-size: 2.5rem;
    color: #5a6e5e;
}

header p {
    font-size: 1.2rem;
    color: #a8a196;
}

.gift-info h2, .event-details h2 {
    font-size: 1.8rem;
    color: #5a6e5e;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .slideshow-container img {
        border-radius: 0;
    }
}
