@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #e6dac5 !important;
    color: #3e2f28;
    overflow-x: hidden;
}

h1, .hero-text {
    font-family: 'Lobster', cursive;
    font-size: 60px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    transform: translateY(-10px);
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 32px;
    margin-bottom: 20px;
    color: #3e2f28;
}

.section {
    padding: 15px;
    text-align: center;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease-out;
}

.section img {
    max-width: 90%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 5px solid #ffffff;
    transition: transform 0.3s ease;
}

.section img:hover {
    transform: scale(1.05);
}

.signature, .quran-quote {
    font-family: 'Dancing Script', cursive;
}

.signature {
    font-size: 30px;
    margin-bottom: 10px;
}

.quran-quote {
    font-style: italic;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.date {
    font-size: 18px;
    color: #4f3d2a;
    margin-bottom: 20px;
}

.hero {
    position: relative;
    height: 60vh;
    background-image: url('../../media/1.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    color: white;
    padding: 20px;
}

@keyframes fadeInUp {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.section.reveal.active {
    opacity: 50;
    transform: translateY(0);
}

.slideshow-container {
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


@keyframes fadeAnimation {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

label.content::before{

}

.title-bride, .title-groom {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /* Atur agar gambar sepenuhnya terlihat */
    padding: 20px;
    text-align: center;
    color: #808080; /* Opsional: Ubah warna teks agar kontras dengan background */
    margin-bottom: px; /* Beri jarak antara kedua div */
	opacity: 0.4; 
}

.title-bride {
    background-image: url('../../media/bride.png'); /* Pastikan path gambar benar */
}

.title-groom {
    background-image: url('../../media/groom.png'); /* Pastikan path gambar benar */
}

.name, .binti, .bapak {
    margin: 10px 0;
    font-size: 1.1rem;
}

.title h2{
    margin-top: 15px;
}
.title h2.name{
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-around;
}

.flex.center{
    align-items: center;
}

.flex .title,
.flex .img{
    width: 50%;
}

.flex-reverse{
    flex-direction: row-reverse;
}
.flex .event {
    padding-top: 10px;
}

.event {
    background-color: rgba(211, 211, 211, 0.6); /* Warna abu muda dengan opacity 60% */
    padding: 10px; /* Opsional: Tambahan padding agar konten lebih nyaman dibaca */
    border-radius: 8px; /* Opsional: Membuat sudut kotak lebih lembut */
    margin-bottom: 10px; /* Jarak antar event */
	width: 100%;
    min-height: 180px;
}

.transfer .flex .label,
.transfer .flex .info,
{
    width: 100%; 
}
.event h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 24px; /* Anda bisa menyesuaikan ukuran font sesuai keinginan */
    font-weight: 700; /* Gunakan font-weight untuk menentukan ketebalan font */
    margin-bottom: 10px; /* Opsional: Menambahkan jarak di bawah judul */
}

.transfer {
    padding: 20px;
    background: linear-gradient(to right, #f0f0f0, #d9d9d9); /* Gradien latar belakang */
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    position: relative;
    overflow: hidden;
}

.transfer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.05); /* Overlay semi-transparan */
    z-index: 1;
}

.transfer .flex {
    position: relative;
    z-index: 2;
}

.label {
    margin-bottom: 20px;
    position: relative;
}

.list-group {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-group-item {
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #ddd;
    transition: background-color 0.3s, color 0.3s;
    margin: 0 5px;
    position: relative;
}

.list-group-item.active {
    background-color: #007bff;
    color: #fff;
}

.list-group-item:hover {
    background-color: #f1f1f1;
}

.info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bank,
.qris {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 700px;
    margin: 10px auto;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bank:hover,
.qris:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.bank .account {
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.bank .account:last-child {
    border-bottom: none;
}

.bank .details {
    display: flex;
    flex-direction: column;
}

.bank .account-number {
    font-weight: bold;
}

.qris img {
    width: 100%;
	max-width: 400px; /* Maksimum lebar gambar pada tampilan PC */
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.download-btn:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .bank,
    .qris {
        padding: 15px;
        min-height: unset;
        border-radius: 8px;
    }

    .qris img {
        max-width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {
    .flex .img{
        width: 70%;
    }
    .title h2{
        font-size: 17px;
    }
    .title h2.binti{
        font-size: 12px;
    }
}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}


.section {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px; /* Memberikan padding di sekitar konten */
    box-sizing: border-box; /* Memastikan padding termasuk dalam total lebar */
}

.reveal {
    position: relative;
}

.parallax {
    position: relative;
    background-image: url('../../media/bg-hi.jpeg'); /* Gantilah dengan URL gambar yang Anda inginkan */
    background-attachment: fixed; /* Membuat efek parallax */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px; /* Menyesuaikan tinggi sesuai kebutuhan */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.parallax .content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: #fff; /* Warna teks putih agar kontras dengan background */
    padding: 20px; /* Menambahkan padding untuk ruang yang lebih baik */
    max-width: 90%; /* Membatasi lebar konten */
    margin: 0 auto; /* Memusatkan konten */
    background-color: rgba(0, 0, 0, 0.4); /* Layer latar belakang semi-transparan untuk meningkatkan keterbacaan */
    border-radius: 10px; /* Membuat sudut konten lebih halus */
}

.event {
    margin-bottom: 20px;
    padding: 10px; /* Menambahkan padding di dalam elemen event */
}

.event h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff; /* Warna teks putih agar kontras dengan background */
}

.event .date, .event .time {
    font-size: 18px;
    margin: 5px 0;
}

.event-maps iframe {
    border-radius: 10px; /* Membuat sudut iframe lebih halus */
    box-shadow: 0 4px 10px rgba(0,0,0,0.3); /* Menambahkan bayangan untuk kesan kedalaman */
    width: 100%;
    max-width: 800px; /* Maksimum lebar iframe untuk tampilan lebih besar */
    height: 400px; /* Ukuran tinggi iframe */
    margin-top: 20px; /* Jarak dari elemen di atas */
}

@media (max-width: 768px) {
    .parallax .content {
        padding: 10px; /* Kurangi padding untuk layar kecil */
        background-color: rgba(0, 0, 0, 0.4); /* Layer latar belakang semi-transparan untuk meningkatkan keterbacaan */
    }

    .event h3 {
        font-size: 24px; /* Mengurangi ukuran font pada layar kecil */
    }

    .event .date, .event .time {
        font-size: 16px; /* Mengurangi ukuran font pada layar kecil */
    }

    .event-maps iframe {
        height: 300px; /* Mengurangi tinggi iframe pada layar kecil */
    }
}

}


iframe {
    max-width: 100%;
    border: 0;
}

/*Moment*/

.owl-item img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.owl-item:hover img {
    transform: scale(1.15);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.owl-carousel .owl-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.owl-item img {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Overlay untuk gambar yang diperbesar */
.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

/* Tombol close */
.fullscreen-overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}
